.name-header i {
  color: $dark_blue;
}

.name-container {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}
.name-header {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  width: 500px;
  margin: 0 auto;
  color: w i {
    color: $dark_blue;
    margin: 0%;
    padding: 0;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    padding: 20px;
  }
}

.email {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  font-size: 20px;
  background-image: linear-gradient(180deg, $light_blue, $dark_blue);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.email:hover {
  background-color: purple;
}
.Resume {
  display: flex;
  border: solid 2px $custom_black;
  flex-direction: column;
  text-decoration: none;
  color: black;
  padding: 15px 25px;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.Resume:hover {
  background-color: white;
}
