.projects-container {
  height: 400px;
  display: flex;
  color: $custom_black;
  flex-wrap: wrap;
}
.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @include section_name();
  }
}
.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 300px;
  h3 {
    color: $dark_blue;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .project {
    margin: 0 auto;
  }
}

.project-description {
  text-align: left;
  list-style: none;
  padding: 20px;
  font-family: verdana;
  font-size: 18px;
  li {
    margin-top: 15px;
  }
}
.project-description li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $dark_blue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.carousel .control-dots .dot {
  background: #303030;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid $custom_black;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid $custom_black;
}
