.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  .technologies-header {
    @include section_name();
  }
  .tech-box {
    display: flex;
    flex-wrap: wrap;
    .technologies {
      display: flex;
      flex-direction: column;
      margin: 10px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      p {
        color: white;
        text-align: center;
      }
    }
  }
}
