body {
  background-color: #24252a;
  margin: 0;
  /* padding-bottom: 100px;
  animation-name: BackgroundColour;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
}
html {
  width: 100%;
}
@media (max-width: 600px) {
  html {
    width: fit-content;
  }
}
/* @keyframes BackgroundColour {
  from {
    background-color: black;
  }
  to {
    background-color: #24252a;
  }
} */
